<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.popla.gorkhavidyutpowerpay">

    <application
        android:name=".PowerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Power" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUp">
            <intent-filter>
                <action android:name="net.web44.jimappdev.thecoincollector.manageapps" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EmployeRegistration" />
        <activity android:name=".activity.Employee_Data.ShowAllEmploye" />
        <activity android:name=".activity.Verifier.VerifierNewConnection" />
        <activity android:name=".activity.AddNewConnection" />
        <activity
            android:name=".activity.Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PayBill" />
        <activity android:name=".activity.PutBillDetail" />
        <activity android:name="com.narendra.myapplication.BillDetails" />
        <activity android:name=".activity.Notifications" />
        <activity android:name=".activity.BillDetailss" />
    </application>

</manifest>