<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.popla.gorkhavidyutpowerpay">

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Power" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUp" />
        <activity android:name=".activity.EmployeRegistration" />
        <activity android:name=".activity.Employee_Data.ShowAllEmploye" />
        <activity android:name=".activity.Employee_Data.ParticularEmployeeDetail" />
        <activity android:name=".activity.Employee_Data.AllEmployeeLayouts" />
        <activity android:name=".activity.ApproverP.Approver" />
        <activity android:name=".activity.ApproverP.ApproverAllDetail" />
        <activity android:name=".activity.Applier.Applier1" />
        <activity android:name=".activity.Applier.ApplierDetail" />
        <activity android:name=".activity.Verifier.VerifierNewConnection"></activity>
        <activity android:name=".activity.AddNewConnection" />
        <activity android:name=".activity.Complaints"></activity>
    </application>

</manifest>